*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NeueBit-Bold';
    src: local('NeueBit-Bold'), url(font/NeueBit-Bold.woff) format('woff');
    }

@font-face {
        font-family: 'EditorialNew-Ultrabold';
        src: local('EditorialNew-Ultrabold'), url(font/EditorialNew-Ultrabold.woff) format('woff');
        }

@font-face {
        font-family: 'Mondwest-Bold';
        src: local('Mondwest-Bold'), url(font/Mondwest-Bold.woff) format('woff');
}       
    
@font-face {
    font-family: 'NeueMontreal-Bold';
    src: local('NeueMontreal-Bold'), url(font/NeueMontreal-Bold.woff) format('woff');
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: local('NeueMontreal-Regular'), url(font/NeueMontreal-Regular.woff) format('woff');
}         

body {
    background: #fff
}

/* riferimento per i calcoli dei rem, 16px = 1rem */
html {
    font-size: 16px;
}


/* navbar */

.nav {
    
    display: flex;
    flex-direction: column;
    position: block;
    justify-content: space-between;
    background-color: transparent ;
    box-shadow: none;
    z-index: 3; 
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.2rem;
}

.nav-item{
    display: flex;
    margin: none;
}

.nav-link {
    display: flex;
    font-family: 'NeueMontreal-Regular';
    font-size: 1.125rem;
    color:#3065af;
}

 .color-size {
    font-family: 'NeueMontreal-Bold';
    font-size: 1.125rem;
    color:#3065af;
} 

 /* lista bias */

.bias{
    
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    background-color: transparent ;
    box-shadow: none;
    z-index: 3; 
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.2rem;
}

.bias-item{
    display: flex;
    margin: none;
}

.bias-link {
    display: flex;
    font-family: 'Mondwest-Bold';
    font-size: 1.21rem;
    color:#3065af;
}

ol, ul {
    padding-left: 0; 
}

.cognitivi{
    
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    background-color: transparent ;
    box-shadow: none;
    z-index: 3; 
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.2rem;
    margin-top: -1rem;
}

.cognitivi-item{
    display: flex;
    margin: none;
}

.cognitivi-link {
    display: flex;
    font-family: 'Mondwest-Bold';
    font-size: 1.21rem;
    color:#3065af;
}

.red{
    color: #D10E32;
}

/* Stili di testo */

h4 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#3065af;
}
.bold {
    background-color: #3065af;
    font-family: 'NeueMontreal-Bold';
    color: #fff;
}
.bold_1 {
    font-family: 'NeueMontreal-Bold';
}

.bold_2 {
    font-family: 'NeueMontreal-Bold';
}

h2 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color:#3065af;

}

h5 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color:#3065af;
    margin-bottom: -1rem;

}

h3 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.5625rem;
    color:#3065af;

}


p {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#3065af;
}


.numeri_bit {
    font-family: 'NeueBit-Bold' ;
    font-size: 3.5625rem;
    color:#3065af;

}

.numeri_neue {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.5rem;
    color:#3065af;
}

.bit{
    font-family: 'Mondwest-Bold' ;
    font-size: 2.6rem;
    color:#D10E32;
}

.bit-1{
    font-family: 'NeueBit-Bold' ;
    font-size: 3.2rem;
    color:#3065af;

}

.lista{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
}

.lista_2 {
    text-align: right;
}

.sinistra {
    text-align: right;
}

a{
    text-decoration: none;
    color:#3065af;
}

#contacts {
    background-color: #3065af;
    margin-top: 4rem;
}

.grigio {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#b4c1d6;
    opacity: 50%;
    margin-top: 0.5rem;
}

.white {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color: white;
    margin-top: 0.5rem;
}

.white_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color: white;
}
.white_3{
    font-family: 'NeueMontreal-Bold' ;
    font-size: 1rem;
    color: white;
}


#contacts_1 {
    background-color: #ffffff;
    margin-top: 4rem;
}

.blu {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#3065af;
    opacity: 50%;
    margin-top: 0.5rem;
}

.blu_1 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color: #3065af;
    margin-top: 0.5rem;
}

.blu_2{
    font-family: 'NeueMontreal-Regular' ;
    color: #3065af;
    font-size: 1rem;
    color: 3065af;
}
.blu_3{
    font-family: 'NeueMontreal-Bold' ;
    font-size: 1rem;
    color: #3065af;
}




.copy_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

/* barra che si muove */

.marquee {
    position: fixed;
    bottom: 0;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-family:'EditorialNew-Ultrabold';
    color: #fff;
}

.marquee__inner {
    background-color: #3065af;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 1rem;
    padding: 0 1vw;
    margin-bottom: 0.1rem;
    margin-top: 0.25rem;
}

.marquee .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


/* sfondo blu */

.white_4{
    color: #fff;
}

 #progetto{
    background-color: #3065af;
} 



/* linea footer */
.linea {
    border-top: 2px solid #3065af; /* Spessore e colore della linea */
    margin-top: 2rem;
    margin-bottom: 2rem; 
}



/* media query (text) */
@media (min-width: 376px) {
 .numeri_bit {
 font-size: clamp(3.5625rem, 5vw + 1rem, 12.5rem);
 }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     

/* testo centrale */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.copy{
    position: absolute;
    top: 97%;
    left: 10rem;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/* navbar */

    .nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-between;
       background-color: #fff;
        box-shadow: none;
        z-index: 3;
        font-size: 2rem;
    }

    .nav-link {
        display: flex;
        font-family: 'NeueMontreal-Regular';
        font-size: 2rem;
        color: #3065af;
        padding-left: 74px;
        padding-right: 82px;
    }

    .color-size {
        font-family: 'NeueMontreal-Bold';
        font-size: 2rem;
        color:#3065af;
    } 
    .color-size-1 {
        font-family: 'NeueMontreal-Bold';
        font-size: 2rem;
        color:#fff;
    } 
    .nav_blu {
        background-color: #3065af;
}
    
    
    /* lista bias */

    .bias{
    
        display: flex;
        position: fixed;
        top:5rem;
        flex-direction: column;
        text-decoration: none;
        justify-content: space-between;
        background-color: transparent ;
        box-shadow: none;
        z-index: 3; 
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: 0.2rem;
    }
    
    .bias-item{
        display: flex;
        margin-top:3rem;
    }
    
    .bias-link {
        display: flex;
        font-family: 'Mondwest-Bold';
        font-size: 2.27rem;
        color:#3065af;
    }
    
    ol, ul {
        padding-left: 0; 
    }

    .py-lg-5 {
        padding-top: 2rem!important;
        padding-bottom: 0rem!important;
    }

    .cognitivi{
    
        display: flex;
        position: fixed;
        top:31rem;
        flex-direction: column;
        text-decoration: none;
        justify-content: space-between;
        background-color: transparent ;
        box-shadow: none;
        z-index: 3; 
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: 0.2rem;
    }
    
    .cognitivi-item{
        display: flex;
        margin-top:3rem;
        padding-top: -1.5rem;
    }
    
    .cognitivi-link {
        display: flex;
        font-family: 'Mondwest-Bold';
        font-size: 2.27rem;
        color:#3065af;
    }

    .red{
        color: #D10E32;
    }

   /* Stili di testo */ 

h3 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.875rem;
    color:#3065af;

}
h2 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 3.125rem;
    color:#3065af;

}
   h4 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 3rem;
    color:#3065af;
    margin-top: 5rem;
}

h5 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 3.125rem;
    color:#3065af;
    margin-bottom: -1rem;
    transition: all 0.2 linear;
}

h5:hover{
    color: #D10E32;
}

.bit-2{
    font-family: 'Mondwest-Bold';
    font-size: 3.81rem;
    color:#D10E32;
}
.bit{
    font-family: 'Mondwest-Bold';
    font-size: 3.81rem;
    color:#D10E32;
    transition: all 0.2 linear;
}

.bit:hover{
    color: #3065af;
}

.bit-1{
    font-family: 'NeueBit-Bold' ;
    font-size: 4.35rem;
    color:#3065af;

}

.bold {
    background-color: #3065af;
    font-family: 'NeueMontreal-Bold';
    color: #fff;
}
.bold_1 {
    font-family: 'NeueMontreal-Bold';
}
p {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 2rem;
    color:#3065af;
}

.numeri_bit {
    font-family: 'NeueBit-Bold' ;
    font-size: 10.6rem;
    color:#3065af;

}

.numeri_neue {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 7.5rem;
    color:#3065af;
}

.lista{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -5.5rem;
}
.lista_2 {
    text-align: right;
}

.grigio {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.5rem;
    color:#b4c1d6;
    opacity: 50%;
    margin-top: 0.5rem;
}

.white {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.5rem;
    color: white;
    margin-top: 0.5rem;
}

.white_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.3rem;
    color: white;
}
.white_3{
    font-family: 'NeueMontreal-Bold' ;
    font-size: 1.5rem;
    color: white;
}
.copy_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.2rem;
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}

.px-lg-5 {
    padding-right: 11rem!important;
    padding-left: 11rem!important;
}

.py-lg-5 {
    padding-top: 4rem!important;
    padding-bottom: 0rem!important;
}

/* barra che si muove */

.marquee {
    position: fixed;
    bottom: 0;
    width: 100%;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-family:'EditorialNew-Ultrabold';
    color: #fff;
}

.marquee__inner {
    background-color: #3065af;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 1.7rem;
    padding: 0 1vw;
    margin-bottom: 0.1rem;
    margin-top: 0.25rem;
}

.marquee .marquee__inner {
    animation-play-state: running;
}

.white_4{
    color: #fff;
}

}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

        h4 {
            font-family: 'NeueMontreal-Regular' ;
            font-size: 3.75rem;
            color:#3065af;
            margin-top: 5rem;
        }

        .color-size {
            font-family: 'NeueMontreal-Bold';
            font-size: 2rem;
            color:#3065af;
        } 

        .padding_right{
            padding-right: 6.1rem;
        }


}
