*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NeueBit-Bold';
    src: local('NeueBit-Bold'), url(font/NeueBit-Bold.woff) format('woff');
    }

@font-face {
        font-family: 'EditorialNew-Ultrabold';
        src: local('EditorialNew-Ultrabold'), url(font/EditorialNew-Ultrabold.woff) format('woff');
        }

@font-face {
        font-family: 'Mondwest-Bold';
        src: local('Mondwest-Bold'), url(font/Mondwest-Bold.woff) format('woff');
}       
    
@font-face {
    font-family: 'NeueMontreal-Bold';
    src: local('NeueMontreal-Bold'), url(font/NeueMontreal-Bold.woff) format('woff');
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: local('NeueMontreal-Regular'), url(font/NeueMontreal-Regular.woff) format('woff');
}         

body {
    background: #fff
}

/* riferimento per i calcoli dei rem, 16px = 1rem */
html {
    font-size: 16px;
}


/* navbar */

.nav {
    
    display: flex;
    flex-direction: column;
    position: block;
    justify-content: space-between;
    background-color: transparent ;
    box-shadow: none;
    z-index: 3; 
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.2rem;
}

.nav-item{
    display: flex;
    margin: none;
}

.nav-link {
    display: flex;
    font-family: 'NeueMontreal-Regular';
    font-size: 1.125rem;
    color:#3065af;
}

 .color-size {
    font-family: 'NeueMontreal-Bold';
    font-size: 1.125rem;
    color:#3065af;
} 


/* Stili di testo */

h4 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.25rem;
    color:#3065af;
}
.bold {
    font-family: 'NeueMontreal-Bold';
}

h2 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color:#3065af;

}

h5 {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color:#3065af;
    margin-bottom: -1rem;

}

h3 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1.5625rem;
    color:#3065af;

}

p {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#3065af;
}

.numeri_bit {
    font-family: 'NeueBit-Bold' ;
    font-size: 3.5625rem;
    color:#3065af;

}

.numeri_neue {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.5rem;
    color:#3065af;
}

.bit{
    font-family: 'NeueBit-Bold' ;
    font-size: 3.2rem;
    color:#D10E32;
}

.bit-1{
    font-family: 'NeueBit-Bold' ;
    font-size: 3.2rem;
    color:#3065af;

}

.lista{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
}

.sinistra {
    text-align: right;
}

a{
    text-decoration: none;
    color:#3065af;
}

#contacts {
    background-color: #3065af;
    margin-top: 4rem;
}

.grigio {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color:#b4c1d6;
    opacity: 50%;
    margin-top: 0.5rem;
}

.white {
    font-family: 'NeueMontreal-Bold' ;
    font-size: 2.1875rem;
    color: white;
    margin-top: 0.5rem;
}

.white_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color: white;
}
.white_3{
    font-family: 'NeueMontreal-Bold' ;
    font-size: 1rem;
    color: white;
}
.copy_2{
    font-family: 'NeueMontreal-Regular' ;
    font-size: 1rem;
    color: white;
    margin-top: 2.3rem;
}

/* barra che si muove */

.marquee {
    position: fixed;
    overflow: hidden;
    width: 100%;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-family:'EditorialNew-Ultrabold';
    color: #fff;
}

.marquee__inner {
    background-color: #3065af;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 1rem;
    padding: 0 1vw;
    margin-bottom: 0.1rem;
    margin-top: 0.25rem;
}

.marquee .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


/* immagine */





/* linea footer */
.linea {
    border-top: 2px solid #3065af; /* Spessore e colore della linea */
    margin-top: 2rem;
    margin-bottom: 2rem; 
}



/* media query (text) */
@media (min-width: 376px) {
 .numeri_bit {
 font-size: clamp(3.5625rem, 5vw + 1rem, 12.5rem);
 }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     

/* testo centrale */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.copy{
    position: absolute;
    top: 97%;
    left: 10rem;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/* navbar */

.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: transparent ;
    box-shadow: none;
    z-index: 3;
    font-size: 1.3rem;
}

.nav-link-get{
        display: flex;
        margin-top: 8px;
        margin-left: 45.5rem;
}

.nav-link{
        margin-left: 3.5rem;
    }


   /* Stili di testo */ 


   h4 {
    font-family: 'NeueMontreal-Regular' ;
    font-size: 3.75rem;
    color:#3065af;
    margin-top: 1.5rem;
}
.bold {
    font-family: 'NeueMontreal-Bold';
}


}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }

